/* Fonts */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}


/* Variables */

:root {
	--basic-white: #ffffff;
	--basic-black: #000000;
	--basic-transparent: rgba(255, 255, 255, 0.2);
	--basic-overlay: rgba(0, 0, 0, 0.3);
	--dark-text: #323232;
	--dark-text: #5a5a5a;
	--grey-text: #ababab;
	--light-text: #ffffff;
	--background-green: #849d8f;
	--background-grey: #8996A6;
	--background-brown: #9d8b84;
	--background-green-light: rgba(215, 242, 227, 0.75);
	--background-grey-light: rgba(218, 228, 239, 0.75);
	--background-brown-light: rgba(239, 224, 218, 0.75);
	--background-raspberry: #850017;
	--background-chocolate: #57321d;
	--background-waffle:#efe4ce;
	--background-contact-info:#fefefe;
	--background-modal:#f8f7f4;
	--nav-item-current:#d07058;
	--nav-item-hover: #fbded7;
	--nav-item-active: #f6b5a5;		
	--placeholder-color:#999999;  
	--button-normal-background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
	--button-hover-background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
	--button-active-background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
	--button-normal-shadow:rgba(172, 16, 0, 0.64);
	--button-hover-shadow: #ac1000;
	--button-active-shadow:#942718;
	--button-close: #231f20;
	--button-delete: #2c2829;  
	--main-menu-hover-bg: #ededed;
	--main-menu-hover-shadow: #696969;  
	--shadow-modal: rgba(0, 0, 0, 0.4);
	--background-scale: rgba(248, 247, 244, 0.5);
	--text-shadow-price: rgba(49, 50, 53, 0.5);
	--text-shadow-button: rgba(160, 32, 11, 0.76);
	--link-normal-underline: rgba(255, 255, 255, 0.3);
	--link-hover:#ffbc9e;
	--link-hover-underline:rgba(255, 188, 158, 0.3);
	--dark-link-underline: #353535;
	--dark-link-hover: #e84d37;
	--dark-link-hover-underline: rgba(232, 77, 55, 0.3);
	--border-input: rgba(178, 178, 178, 0.52);
	--border-input-focus: rgba(46, 136, 228, 0.52);
	--gradient-post-light: #f8f7f4;
	--gradient-post-blue: #92cdff;
	--gradient-post-red: #fe9e90;
	--border-social-icon-normal: rgba(255, 255, 255, 0.5);
	--border-social-icon-active: rgba(255, 255, 255, 0.7);
	--shadow-product-card: rgba(0, 0, 0, 0.2);
	--fill-arrow: #ecf1ee;
	--basket-line: #cacac7;
}


/* Global */

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
	height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  min-width: 1200px;
  margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--light-text);
}

.page-body-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -10;
  width: 716px;
  height: 716px;
  margin-left: -358px;
  filter: blur(250px);
}

.page-body-overlay {
  position: relative;
}

.page-body-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--basic-overlay);
  opacity: 0.3;
}

.page-body-green {
  background-color: var(--background-green);
}

.page-body-green::before {
  background-color: var(--background-green-light);
}

.page-body-grey {
  background-color: var(--background-grey);
}

.page-body-grey::before {
  background-color: var(--background-grey-light);
}

.page-body-brown {
  background-color: var(--background-brown);
}

.page-body-brown::before {
  background-color: var(--background-brown-light);
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  padding-top: 9px;
}

.main-header-nav {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

/* Site navigation */

.site-navigation {
  display: grid;
  grid-template-columns: max-content max-content;
}

.site-navigation-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  list-style: none;
}

.site-navigation-logo {
  margin-right: 10px;
}

.site-navigation-link {
  padding-top: 4px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 14px;
  margin-right: 3px;
  color: var(--light-text);
  font-weight: bold;
  line-height: 18px;
  text-decoration-color: var(--basic-transparent);
  border-radius: 26px;
}

.site-navigation-link:last-child {
	margin-right: 0;
	margin-left: 1px;
}

.site-navigation-link-current {
  text-decoration: none;
  background-color: var(--nav-item-current);
}

.site-navigation-link:hover, 
.site-navigation-item:hover > .site-navigation-link,
.site-navigation-link:focus, 
.site-navigation-item:focus> .site-navigation-link {
  color: var(--dark-text);
  background-color: var(--basic-white);
  text-decoration: none;
}

.site-navigation-link:active {
  background-color: var(--main-menu-hover-bg);
  box-shadow: inset 0 2px 1px var(--main-menu-hover-shadow);
}

.site-navigation-submenu {
  position: absolute;
  z-index: 30;
  top: 50px;
  left: -5px;
  display: none;
}

.site-navigation-item:hover .site-navigation-submenu,
.site-navigation-item:focus-within .site-navigation-submenu {
  display: block;
}

.submenu {
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  list-style: none;
  box-shadow: 0 20px 20px var(--shadow-modal);
  border-radius: 4px;
}


.submenu-link {
  display: block;
  margin: 6px 0;
  padding: 5px 20px;
  color: var(--dark-text);
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.submenu-link-new-goods {
  position: relative;
  margin-bottom: 11px;
  font-weight: bold;
  line-height: 18px;
}

.submenu-link-new-goods::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 6px;
  height: 1px;
  width: 128px;
  background-color: rgba(50, 50, 50, 0.2);
}

.submenu-link:hover,
.submenu-link:focus {
  background-color: var(--nav-item-hover);
}

.submenu-link:active {
  background-color: var(--nav-item-active);
}

.submenu-link-current,
.submenu-link-current:hover,
.submenu-link-current:focus,
.submenu-link-current:active {
  color: var(--basic-white);
  background-color: var(--nav-item-current);
}

/* User navigation */

.user-navigation {
  display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	padding-top: 19px;
}

.user-navigation-search-wrapper {
  position: relative;
}

.user-navigation-search-form {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 32px;
  display: none;
  padding: 20px 15px;
}

.user-navigation-search-button:hover + .user-navigation-search-form,
.user-navigation-search-button:focus + .user-navigation-search-form,
.user-navigation-search-wrapper:focus-within .user-navigation-search-form,
.user-navigation-search-wrapper:hover .user-navigation-search-form {
	display: block;
	z-index: 2;
}

.user-navigation-input {
  width: 311px;
  padding: 14px;
  font-size: 14px;
  line-height: 16px;
}

.user-navigation-search-button {
  margin-top: -5px;
  padding: 8px;
  width: 32px;
  height: 32px;
  background-color: var(--basic-transparent);
  border: none;
  border-radius: 50%;
}

.user-navigation-search-icon {
  fill: var(--basic-white);
}

.user-navigation-search-button:hover,
.user-navigation-search-button:focus {
	background-color: var(--basic-white);
}

.user-navigation-search-button:hover .user-navigation-search-icon,
.user-navigation-search-button:focus .user-navigation-search-icon {
  fill: var(--basic-black);
}

.user-navigation-icon {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
  fill: var(--basic-white);
}

.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation-item {
  position: relative;
  margin-left: 10px;
}

.user-navigation-link {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 7px;
  padding-bottom: 8px;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  background-color: var(--basic-transparent);
  border-radius: 20px;
}

.user-navigation-link-login:hover,
.user-navigation-link-login:focus,
.user-navigation-link-login:active {
  color: var(--dark-text);
  background-color: var(--basic-white);
}

.user-navigation-link-login:hover .user-navigation-icon,
.user-navigation-link-login:focus .user-navigation-icon  {
  fill: var(--basic-black);
}

.user-navigation-link-filled-basket,
.user-navigation-link-filled-basket:hover,
.user-navigation-link-filled-basket:focus,
.user-navigation-link-filled-basket:active {
  color: var(--dark-text);
  background-color: var(--basic-white);
}

.user-navigation-link-filled-basket:focus + .basket,
.user-navigation-item:hover .basket,
.user-navigation-item:focus-within .basket {
  display: block;
}

.user-navigation-authorization-form {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 32px;
  display: none;
  width: 277px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 22px;
  padding-left: 19px;
  box-sizing: border-box;
}

.user-navigation-item-login:hover .user-navigation-authorization-form,
.user-navigation-item-login:focus-within .user-navigation-authorization-form,
.user-navigation-link-login:focus + .user-navigation-authorization-form {
  display: block;
}


.authorization-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.authorization-form-button {
  font-weight: bold;
  padding: 11px 25px;
  font-size: 18px;
  line-height: 16px;
  border-radius: 26px;
}

.authorization-form-link-list {
  margin: 0;
  padding: 0;
}

.authorization-form-link {
  font-size: 13px;
  line-height: 15px;
}

.authorization-form-input {
  padding: 13px 15px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
}

.authorization-form-input-password {
  padding-top: 10px;
  padding-bottom: 16px;
} 


/* Modal */

.modal {
  display: none;
  box-sizing: border-box;
  background: var(--background-modal);
  box-shadow: 0 20px 20px var(--shadow-modal);
  border-radius: 4px;
}

.modal-show {
  display: block;
  animation: bounce 0.5s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-input {
  color: var(--dark-text);
  font-weight: bold;
  box-sizing: border-box;
  border: 1px solid var(--border-input);
  border-radius: 4px;
}

.modal-input::placeholder {
  font-weight: normal;
  color: var(--placeholder-color);
}

.modal-input:hover {
  box-shadow: 0 0 0 1px var(--border-input);
}

.modal-input:focus {
  border-color: var(--border-input-focus);
  box-shadow: 0 0 0 1px var(--border-input-focus);
  outline: none;
}

/* Header contacts info */

.main-header-contacts {
	position: relative;
  z-index: 1;
  text-align: right;
}

.contacts-working-time {
  margin-top: -3px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.contacts-telephone {
  text-decoration: none;
  color: var(--basic-white);
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

/* Slider */

.promotions {
  margin-top: -43px;
  text-align: center;
}

.slider {
  position: relative;
}

.slider-item {
  display: none;
}

.slider-item-current {
  display: block;
}

.slider-title {
  margin-top: -277px;
  margin-bottom: 27px;
  padding: 0 237px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-toggles {
  position: absolute;
  left: 0;
  bottom: 58px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 79px;
  box-sizing: border-box;
  list-style: none;
}

.slider-button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-button-current {
  background-color: var(--basic-white);
}

.button {
  color: var(--basic-white);
  text-decoration: none;
  background: var(--button-normal-background);
  box-shadow: 0 2px 2px var(--button-normal-shadow);
	border: none;
	cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--button-hover-background);
  box-shadow: 0 2px 2px var(--button-hover-shadow);
}

.button:active {
  background: var(--button-active-background);
  box-shadow: 0 2px 2px var(--button-active-shadow);
}

.promo-slider-link {
	width: 261px;
  display: inline-block;
  vertical-align: top;
	margin-bottom: 42px;
	margin-left: -20px;
	padding: 9px 0px;
	font-weight: bold;
  font-size: 32px;
	line-height: 44px;
	letter-spacing: 0.05em;
  text-shadow: 0 2px 5px var(--text-shadow-button);
  box-shadow: 0 2px 2px var(--button-normal-shadow);
	border-radius: 70px;	
}

/* Banners */

.banners-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.banners-item {
  padding: 16px 22px 22px 16px;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.banners {
  position: relative;
  z-index: 1;
}

.banner {
  border-radius: 16px;
}

.banner-title {
  margin-top: -1px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.banner-text {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.banner-raspberry {
	background-image: url(../img/background-raspberries.jpg);
	background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--background-raspberry);
}

.banner-chocolate {
	background-image: url(../img/background-chocolate.jpg);
	background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--background-chocolate);
}

.banner-link {
  display: inline-block;
	vertical-align: middle;
	margin-top: 2px;
  padding: 13px 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 70px;
}

.banner-link-wrapper {
  margin: 0;
  text-align: right;
}

/* Hits list */

.hits-list,
.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  row-gap: 24px;
  margin: 0;
	padding: 0;
	padding-bottom: 21px;
  margin-bottom: 7px;
  list-style: none;
}

.hits-item {
  position: relative;
}

.hits-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit-label.png);
  background-repeat: no-repeat;
}

/* Product card */

.product-card-image {
  border-radius: 50%;
}

.product-card {
  position: relative;
  text-align: center;
}

.product-card:hover,
.product-card:focus-within {
  z-index: 1;
}

.product-card::before {
  content: "";
  position: absolute;
  z-index: -1;  
  display: none;
  width: 293px;
	/*height: 402px;*/
	min-height: calc(100% + 70px);
	margin-top: -6px;
  margin-left: -13px;
  background: var(--basic-white);
  opacity: 0.2;
  box-shadow: 0 20px 20px var(--shadow-product-card);
  border-radius: 4px;
}

.product-card:hover::before,
.product-card:focus-within::before {
	display: block;
}

.product-card-price {
  margin-top: -65px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-align: start;
  text-shadow: 0 1px 3px var(--text-shadow-price);
}

.product-card-units {
  font-size: 30px;
	line-height: 35px;
	text-shadow: 0px 1px 3px var(--text-shadow-price);
}

.link {
  color: var(--basic-white);
	text-decoration-color: var(--link-normal-underline);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--link-hover);
  text-decoration-color: var(--link-hover-underline);
}

.link-icon {
  fill: var(--basic-white);;
}

.link:hover .link-icon,
.link:focus .link-icon,
.link:active .link-icon {
  fill: var(--link-hover);
}

.product-card-title {
  margin-bottom: 10px;
  padding: 0 5px;
}

.product-card-link {
	margin-top: -1px;
  font-size: 16px;
	line-height: 22px;
  
}

.product-card-quick-view {
  position: absolute;
	left: 50%;
	bottom: -45px;
  display: none;
  padding: 10px 16px;
  width: 200px;
	margin-left: -100px;
	margin-bottom: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px; 
  line-height: 24px;
	border-radius: 50px;
	
}

.product-card:hover .product-card-quick-view,
.product-card:focus-within .product-card-quick-view {
  display: block;
}

/* Features */

.features {
  position: relative;
  margin-bottom: 39px;
  padding-top: 23px;
  padding-right: 27px;
  padding-bottom: 30px;
  padding-left: 20px;
  color: var(--dark-text);
  background-image: url(../img/waffle-pattern.jpg);
  background-repeat: repeat;
  background-color: var(--background-waffle);
  border-radius: 16px;
}

.features-title {
  margin-top: 0px;
	margin-bottom: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  column-gap: 32px;
  row-gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  position: relative;
  padding-top: 10px;
  padding-left: 55px;
}

.features-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
}

.features-item-own-production::before {
  background-image: url(../img/icon-ice-cream.svg);
}

.features-item-farms::before {
  background-image: url(../img/icon-cow.svg);
}

.features-item-naturalness::before {
  background-image: url(../img/icon-leaf.svg);
}

.features-item-temperature::before {
  background-image: url(../img/icon-thermometer.svg);
}

/* News & Subscribe */

.article {
	padding-top: 19px;
  padding-right: 253px;
  padding-bottom: 25px;
  padding-left: 20px;
  color: var(--dark-text);
	background-image: url(../img/background-strawberry.jpg);
	background-repeat: no-repeat;
	background-color: var(--basic-white);
	background-size: cover;
	background-position-x: right;
	background-position-y: center;
  border-radius: 16px;
}

.article-header {
  margin-top: 0px;
  margin-bottom: 3px;
  font-weight: 500;
}

.article-title {
	margin: 0;
	margin-top: -2px;
}

.article-link {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.link-dark {
	color: var(--dark-text);
	text-decoration-color: var(--dark-link-underline);
}

.link-dark:hover,
.link-dark:focus,
.link-dark:active {
  color: var(--dark-link-hover);
  text-decoration-color: var(--dark-link-hover-underline);
}

.subscription {
  padding: 6px;
  background-image: repeating-linear-gradient(135deg, var(--gradient-post-light) 0, var(--gradient-post-light) 7px, var(--gradient-post-blue) 7px, var(--gradient-post-blue) 14px, var(--gradient-post-light) 14px, var(--gradient-post-light) 21px, var(--gradient-post-red) 21px, var(--gradient-post-red) 28px);
  border-radius: 16px;
}

.subscription-body {
  padding-top: 24px;
  padding-left: 20px;
  padding-bottom: 34px;
  padding-right: 20px;
  color: var(--dark-text);
  background-color: var(--background-modal);
  box-sizing: border-box;
  border-radius: inherit;
}

.subscription-text {
  margin-top: 0;
  margin-bottom: 40px;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
}

.subscription-input {
	padding: 10px 14px;
	margin-top: 0px;
  font-size: 16px;
  line-height: 24px;
  flex-grow: 1;
}

.subscription-button {
  margin-left: 10px;
  padding: 8px 19px 9px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-shadow: 0 2px 5px var(--text-shadow-button);
  border-radius: 70px;
}

/* Contacts info */

.contact-info {
  position: relative;
	margin-top: 40px;
	margin-bottom: -2px;
}

.contact-info-map {
  width:100%;
	height: 430px;
	background-image: url(../img/map.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.contact-info-container {
	width: 1146px;
	position: absolute;
  left: 50%;
  top: 62px;
  margin-left: -573px;
}

.contact-info-text-wrapper {
  margin-left: auto;
  padding: 30px 25px;
  width: 303px;
  box-sizing: border-box;
  color: var(--dark-text);
  background-color: var(--background-contact-info);
  border-radius: 16px;
}

.contact-info-text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.contact-info-address,
.contact-info-telephone {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contact-info-address {
  margin-top: -3px;
  margin-bottom: 24px;
  font-style: normal;
}

.contact-info-telephone {
  color: var(--dark-text);
  text-decoration: none;
}

.contact-info-button {
	display: block;
	margin: 0;
	margin-top: 28px;
	padding: 0;
  padding: 9px 27px 10px;
	width: 253px;
	box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0 2px 5px var(--text-shadow-button);
  border-radius: 50px;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: max-content 1fr 190px;
	padding-top: 19px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Social list */

.socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;
}

.socials-item {
  margin-right: 12px;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
}

.socials-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  opacity: 0.8;
  border: 2px solid var(--border-social-icon-normal);
  border-radius: 50%;
}

.socials-link-facebook::before {
  background-image: url(../img/facebook.svg);
}
.socials-link-vk::before {
  background-image: url(../img/vk.svg);
}

.socials-link-instagram::before {
  background-image: url(../img/instagram.svg);
}

.socials-link-twitter::before {
  background-image: url(../img/twitter.svg);
}

.socials-link:hover::before,
.socials-link:focus::before {
  opacity: 1;
}

.socials-link:active::before {
  border-color: var(--border-social-icon-active);
}

/* Footer navigation */

.main-footer-nav-link {
	font-size: 13px;
  line-height: 18px;
  padding-left: 25px;
}

.main-footer-link-icon {
  margin-bottom: -1px;
  margin-left: -23px;
  margin-right: 5px;
}

.main-footer-nav-link-provider {
  font-weight: bold;
}

.main-footer-nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  height: 50px;
  padding: 0;
	margin-top: 11px;
	margin-left: -4px;
  margin-bottom: 0;
  list-style: none;
}

.main-footer-nav-item {
  margin-left: 6px;
}

/* Footer copyright */

.copyright-text {
  margin-top: 0px;
	margin-bottom: 3px;
  font-size: 12px;
  line-height: 18px;
}

/* Feedback form */

.feedback {
  position: fixed;
	top: 338px;
	left: 50%;
  z-index: 200;
  margin-left: -239px;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 24px;
  width: 477px;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 6px;
}

.feedback-title {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--dark-text);
}

.feedback-input {
  width: 267px;
  padding: 12px 14px;
  margin-bottom: 20px;
}

.feedback-message {
  width: 428px;
  height: 154px;
  padding: 12px 14px;
  margin-bottom: 18px;
}

.feedback-button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0 2px 5px var(--text-shadow-button);
  border-radius: 70px;
  text-align: right;
}

.feedback-button-wrapper {
  margin: 0;
  text-align: right;
}

.feedback-close {
  position: absolute;
  top: 15px;
  right: 16px;
  display: block;
  width: 18px;
  height: 18px;
  border: none;
  background: transparent;
}

.feedback-close::before,
.feedback-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 22px;
  height: 2px;
  background-color: var(--button-close);
}

.feedback-close::before {
  transform: rotate(45deg);
}

.feedback-close::after {
  transform: rotate(-45deg);
}

.feedback-input,
.feedback-message {
  font-size: 16px;
  line-height: 20px;
}

/* Basket */

.basket {
  position: absolute;
  top: 32px;
  right: 0;
  z-index: 2;
  display: none;
  width: 539px;
  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 21px;
  padding-left: 14px;
  color: var(--dark-text);
  background-color: var(--background-modal);
  font-size: 13px;
  line-height: 16px;
}

.basket::before {
  content: "";
  position: absolute;
  bottom: 112px;
  height: 1px;
  width: 510px;
  background-color: var(--basket-line);
}

.basket-table {
  padding: 0;
  width: 100%;
  vertical-align: top;
}

.table-cell {
  padding-top: 6px;
  padding-bottom: 19px;
  padding-left: 0;
  padding-right: 0;
  vertical-align: top;
  text-align: left;
}

.basket-product-preview {
  padding-top: 0;
  padding-left: 4px;
}

.basket-product-button {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
}

.basket-product-button::before,
.basket-product-button::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 0;
  width: 17px;
  height: 1px;
  background-color: var(--button-delete);
}

.basket-product-button::before {
  transform: rotate(45deg);
}

.basket-product-button::after {
  transform: rotate(-45deg);
}

.basket-product-image {
  display: block;
}

.basket-product-name {
  width: 230px;
  padding-right: 16px;
}

.basket-product-amount {
  color: var(--basic-black);
}

.basket-product-price {
  color: var(--grey-text);
}

.basket-total-price {
  margin-top: 11px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  text-align: end;
}

.basket-order-wrapper {
  margin: 0;
  text-align: end;
}

.basket-order {
  display: inline-block;
  vertical-align: middle;
  padding: 14px 15px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  border-radius: 26px;
}

/* Breadcrumbs */

.breadcrumbs {
  position: relative;
  z-index: 1;
	margin-top: -30px;
  max-width: 950px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 14px;
  margin-left: 8px;
}

.breadcrumbs-item:first-child {
  margin-left: 0;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.breadcrumbs-link {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-item:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background-image: url(../img/arrows.svg);
  background-repeat: no-repeat;
}

.main-title {
	margin: 0;
	margin-top: -2px;
  margin-bottom: 29px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.catalog-list {
  list-style: none;
}

/* Pagination */

.pagination {
  margin-top: 44px;
  margin-bottom: 29px;
  margin-right: -9px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-left: 5px;
  text-align: center;
}

.pagination-item:first-child {
  margin-left: 0;
}

.pagination-link {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  color: var(--basic-white);
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  border-radius: 50%;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: var(--basic-transparent);
}

.pagination-link:active,
.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: var(--dark-text);
  background-color: var(--basic-white);
}

.pagination-arrow {
  fill: var(--basic-white);
}

.pagination-link:active .pagination-arrow {
  fill: var(--basic-black);
}

.pagination-link-inactive:hover,
.pagination-link-inactive:focus,
.pagination-link-inactive:active {
  background-color: transparent;
}

.pagination-link-inactive .pagination-arrow,
.pagination-link-inactive:hover .pagination-arrow,
.pagination-link-inactive:focus .pagination-arrow,
.pagination-link-inactive:active .pagination-arrow {
  fill: var(--basic-white);
  opacity: 0.2;
}

/* Filters */

.filters {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filters-caption {
	margin: 0;
	margin-top: -1px;
  margin-bottom: 7px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 16px;
}

.filters-string {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 13px;
}

.filters-string:last-child {
  margin-bottom: 0;
}


.filters-fieldset {
  padding: 0;
  margin-right: 12px;
  border: none;
}

.filters-select {
  z-index: 1;
  width: 196px;
  height: 36px;
  padding-top: 6px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 28px;
  background: var(--basic-transparent);
  border-radius: 20px;
  appearance: none;
  border: none;
}

.filters-fieldset-sorting {
  position: relative;
}

.filters-arrow {
  content: "";
  position: absolute;
  bottom: 14px;
  right: 16px;
  z-index: 10;
  width: 11px;
  height: 10px;
  fill: var(--fill-arrow);
  pointer-events: none;
}


.filters-select {
  color: var(--basic-white);
	font-weight: 500;
	margin-top: -1px;
	margin-left: -2px;
}

.filters-select:hover {
  color: var(--dark-text);
}

.filters-select:hover + .filters-arrow {
  fill: var(--dark-text);
}

.filters-select-option {
  color: var(--dark-text);
}

.filters-price-wrapper {
  display: flex;
	align-items: top;
	margin-left: 5px;
}

.filters-price {
  width: 25px;
  height: 16px;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  border: none;
}

.filters-price-units {
	text-decoration: none;
  font-weight: 500;
  font-size: 14px;
	line-height: 16px;
}

.filters-price::placeholder {
  opacity: 1;
}

.filters-range {
  width: 218px;
  height: 36px;
  background: var(--basic-transparent);
  border-radius: 20px;
}

.filters-controls {
  position: relative;
  padding-top: 15px;
  padding-left: 21px;
  padding-right: 21px;
}

.filters-scale {
  height: 2px;
  padding-left: 23px;
  background-color: var(--background-scale);
}

.filters-bar {
  width: 60%;
  height: 2px;
  background-color: var(--gradient-post-light);
}

.filters-toggle {
  position: absolute;
  top: 6px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--grey-text);
  border-radius: 50%;
  cursor: pointer;
}

.filters-toggle:hover,
.filters-toggle:focus {
  transform: scale(1.1);
}

.filters-toggle-min {
  left: 33px;
}

.filters-toggle-max {
  left: 131px;
}

.filters-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-transparent);
  border-radius: 20px;
}

.filters-container-additives {
 padding-right: 21px;
 padding-top: 12px;
 padding-bottom: 9px;
 padding-left: 14px;
}

.filters-container-fat {
  padding-top: 8px;
  padding-right: 17px;
  padding-bottom: 9px;
  padding-left: 15px;
 }

.filters-label-fat {
  padding-left: 33px;
  margin-right: 20px;
}

.filters-label-fat::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 22px;
  height: 22px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.filters-label-fat:hover::before,
.filters-label-additives:hover::before {
  opacity: 1;
}

.filters-radio:checked + .filters-label-fat::before {
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
}

.filters-radio:disabled + .filters-label::before,
.filters-checkbox:disabled + .filters-label::before {
  opacity: 0.4;
}

.filters-radio:focus + .filters-label::before,
.filters-checkbox:focus + .filters-label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2pх;
}

.filters-label-fat:last-child {
  margin: 0;
}

.filters-label-additives {
	margin-top: -2px;
  padding-left: 30px;
  margin-right: 23px;
}

.filters-label-additives:last-child {
  margin-right: 0;
}

.filters-label-additives-fruits {
	padding-left: 35px;
	margin-top: -1px;
  margin-right: 28px;
}

.filters-label-additives::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 20px;
  height: 20px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.filters-checkbox:checked + .filters-label-additives::before {
  width: 24px;
  height: 20px;
  background-image: url(../img/checkbox-on.svg);
}

.filters-button {
  padding: 7px 28px;
  margin-left: 5px;
  min-width: 144px;
  height: 36px;
  align-self: flex-end;
  box-sizing: border-box;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-transparent) ;
  border: 2px solid var(--basic-white);
  border-radius: 20px;
}

.filters-button:hover,
.filters-button:focus {
  color: var(--dark-text);
  background-color: var(--basic-white);
}

.filters-button:active {
  border: none;
  box-shadow: inset 0 2px 1px var(--main-menu-hover-shadow);
}

/* Animations */

@keyframes bounce {
  0% {
  transform: translateY(-100%);
 }
  100% {
  transform: translateY(0);
 }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

